#main{
	width:80%;
	margin:0 auto;
}
#inputTodo{
	margin:0 auto;
}
#view{
	margin: auto;
	width: 70%;
	height: 50%;
}
#view img{
	height: 100%;
	display: block;
	margin: auto;
}
#stretchable-div{
	position: absolute;
}
.content {
	display: flex;
	align-items: center;
}
