<nav class="uk-width-1-1 uk-panel navigation">
    <div class="max-container-width uk-container-center">
        <!-- <a href="home.html" class="uk-float-left logo"><img src="" alt="Highland Vista Resort"/></a>-->
        <ul class="uk-float-right uk-margin-remove uk-hidden-small uk-hidden-medium">
            <li>
                <a ng-href="#home">HOME</a>
            </li>
            <li>
                <a ng-href="#about">ABOUT</a>
            </li>
            <li>
                <a ng-href="#home#facilities">FACILITIES</a>
            </li>
            <li>
                <a ng-href="#home#activities">ACTIVITIES</a>
            </li>
            <li >
                <a ng-href="#about#faq">FAQ</a>
            </li>
            <li >
                <a ng-href="#book">BOOK NOW</a>
            </li>

        </ul>
        <div class="uk-hidden-large uk-float-right burger-margin">
            <a href="#offcanvas" data-uk-offcanvas="{mode:'slide'}"><i class="uk-icon-bars uk-margin-right"></i></a>
        </div>
    </div>
</nav>
<!--
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon " data-uk-nav>
            <li class="uk-active">
                <a href="index.html">HOME</a>
            </li>
            <li>
                <a hrmanager.htmlhtml">ABOUT</a>
            </li>
            <li>
                <a href="index.html#facilities">FACILITIES</a>
            </li>
            <li>
                <a href="index.html#activities">ACTIVITIES</a>
            </li>
            <li>
                <a hrmanager.htmlhtml#faq">FAQ</a>
            </li>
            <li>
                <a href="book.html">BOOK NOW</a>
            </li>
        </ul>
    </div>
</div>-->
