<div class="uk-margin-large-top uk-grid">
    <div class="uk-width-large-6-10 uk-width-medium-4-10 uk-width-small-1-1 uk-text-center uk-margin-bottom">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502360.95383599034!2d122.90090413281251!3d10.366257699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a94ebca69acf99%3A0x8f0ffbdd353f3a89!2sHighland+Vista+Resort!5e0!3m2!1sen!2sph!4v1502792294076" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen alt="MAP"></iframe>
    </div>
    <div class="uk-width-large-4-10 uk-width-medium-6-10 uk-width-small-1-1 uk-text-center uk-margin-bottom">
        <div class="fb-page uk-hidden-small" data-href="https://www.facebook.com/highlandvistaresort/" data-tabs="timeline" data-width="400" data-height="270" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/highlandvistaresort/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/highlandvistaresort/">Highland VISTA Resort</a></blockquote></div>
        <div class="fb-page uk-hidden-large uk-hidden-medium"
             data-href="https://www.facebook.com/highlandvistaresort/"
             data-width="250"
             data-hide-cover="false"
             data-show-facepile="false"></div>
    </div>
</div>