<!--version 3.0-->
<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content="NBS Express"/>
    <meta charset="UTF-8">

    <title>NBS Express</title>
    <link rel="stylesheet" href="libs/bootstrap-4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="tap">

<ui-view></ui-view>
<script>window.jQuery || document.write('<script  src="assets/js/jquery-3.2.1.min.js"><\/script>')</script>

<!--LIBS-->
<script src="libs/angular.js"></script>
<script src="libs/angular-ui-router.min.js"></script>
<script src="libs/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="libs/bootstrap-4.0.0/js/bootstrap.min.js"></script>

<!--ANGULAR MAIN-->
<script src="app/app.module.js"></script>
<script src="app/app.config.js"></script>

<!--ANGULAR CONTROLLERS-->
<script src="app/components/controllers/homeCtrl.js"></script>
<script src="app/components/controllers/bookCtrl.js"></script>
<script src="app/components/controllers/managerCtrl.js"></script>

<!--ANGULAR DIRECTIVES-->
<script src="app/directives/nav/controllers/navCtrl.js"></script>
<script src="app/directives/nav/navDir.js"></script>
<!--<script src="app/directives/widgets/controllers/footerCtrl.js"></script>
<script src="app/directives/widgets/controllers/headerCtrl.js"></script>
<script src="app/directives/widgets/controllers/heroCtrl.js"></script>
<script src="app/directives/widgets/controllers/socialFeaturesCtrl.js"></script>
<script src="app/directives/home/controllers/featuredCtrl.js"></script>
<script src="app/directives/home/controllers/activitiesCtrl.js"></script>
<script src="app/directives/home/controllers/facilitiesCtrl.js"></script>
<script src="app/directives/nav/controllers/navCtrl.js"></script>

<script src="app/directives/widgets/footerDir.js"></script>
<script src="app/directives/widgets/headerDir.js"></script>
<script src="app/directives/widgets/heroDir.js"></script>
<script src="app/directives/widgets/socialFeatureDir.js"></script>
<script src="app/directives/home/featuredDir.js"></script>
<script src="app/directives/home/activitiesDir.js"></script>
<script src="app/directives/home/facilitiesDir.js"></script>
<script src="app/directives/abnavDir.jsr.js"></script>-->

<!--ANGULAR SERVICES-->
<script>if (window.module) module = window.module;</script>
<script src="app/services/RestServices.js"></script>

</body>

</html>