<div class="container-fluid" role="main">
    <nav-dir></nav-dir>
    <div>
        <h1 class="m-t-lg text-center" style="margin-top: 7%">Managers Lists</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
            Launch Add modal
        </button>
        <hr class="my-4">


        <div class="fields">
            <div class="row fields h-10">
                <div align="center" class="col-lg-1">
                    <h1>ID</h1>
                </div>
                <div align="center" class="col-lg-3">
                    <h1>First name</h1>
                </div>
                <div align="center" class="col-lg-3">
                    <h1>Last name</h1>
                </div>
                <div align="center" class="col-lg-2">
                    <h1>Salary</h1>
                </div>
                <div align="center" class="col-lg-3">
                    <h1>Controls</h1>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <div ng-repeat="manager in managers track by $index">
            <div class="row h-10">
                <div align="center" class="col-lg-1">
                    <h4>{{manager.manager_id}}</h4>
                </div>
                <div align="center" class="col-lg-3">
                    <h4>{{manager.first_name}}</h4>
                </div>
                <div align="center" class="col-lg-3">
                    <h4>{{manager.last_name}}</h4>
                </div>
                <div align="center" class="col-lg-2">
                    <h4>{{manager.salary}}</h4>
                </div>
                <div align="center" class="col-lg-3">
                    <div>
                        <button type="button" ng-click="set(manager)" data-toggle="modal" data-target="#editModal" class="btn btn-warning">Edit</button>
                        <button type="button" ng-click="delete(manager, $index)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Manager profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="addManager.first_name" placeholder="First name" style="margin-bottom: 7%">
                    <input type="text" class="form-control" ng-model="addManager.last_name" placeholder="Last name" style="margin-bottom: 7%">
                    <input type="number" class="form-control" ng-model="addManager.salary" placeholder="Salary">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="save()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Manager profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="editManager.first_name" placeholder="First name" style="margin-bottom: 7%">
                    <input type="text" class="form-control" ng-model="editManager.last_name" placeholder="Last name" style="margin-bottom: 7%">
                    <input type="number" class="form-control" ng-model="editManager.salary" placeholder="Salary">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="update()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>